$dark-blue-primary: #154360;
$blue-accent: #237bb2;
$black: #272525;
$dark-blue-grey: #476685;
$light-blue-grey : #BFBFBF;
$grey: #f3f6f9;
$white: #FFFFFF;
$blanc_cassee : #F3F6F9;
$green: #2ECC71;
$red: #E74C3C;
$orange: #e7a83c;

* {
    font-family: "nunito";
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 400;
}

.loginParent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    overflow-y: hidden;
    margin: 0 !important;
    padding: 0 !important;

    >div {
        width: 60%;

        &:first-child {
            margin: 0 7%;
            width: 40%;

            .title {
                font-weight: 800;
                font-size: 28px;
                color: $black;
            }

            .signIn {
                margin: 40px 0;
            }

            form {
                >div {
                    margin-bottom: 40px;

                    input {
                        width: -moz-available;
                        border: 1px solid $light-blue-grey;
                        border-radius: 10px;
                        padding: 10px;
                    }

                    &:nth-child(2) {
                        >div {
                            position: relative;

                            #showPassword {
                                position: absolute;
                                top: 50%;
                                right: 3%;
                                transform: translateY(-50%);
                                cursor: pointer;
                                padding: 10px 0;
                                user-select: none;
                            }
                        }
                    }
                }
            }
        }

        img {
            width: 100%;
            height: 101vh;
            object-fit: cover;
        }
    }
}

body {

    .body {
        display: flex;
        width: 100%;
        background-color: $blanc_cassee;

        .sidebar {
            flex: 1;
            min-height: 100vh;
            background-color: $white;

            h2 {
                padding: 35px 25px 10px;
            }

            .profil {
                display: flex;
                flex-direction: row;

                >div {
                    width: 60%;
                    padding: 0 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;

                    .firstname {
                        text-transform: capitalize;
                        font-size: 16px;
                        font-weight: 600;
                        white-space: nowrap;
                    }

                    .role,
                    .logout {
                        color: $black;
                        font-weight: 400;
                        font-size: 14px;
                    }

                    .logout {
                        text-decoration: none;

                        svg {
                            margin-right: 5px;
                            height: auto;
                            color: #BFBFBF;
                        }
                    }

                }

                img {
                    width: 40%;
                    height: 85px;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }

            >div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px;
                font-weight: 500;

                &.mainMenu {
                    padding: 50px 30px 0 30px;
                }

                >p {
                    padding: 10px 20px;
                    color: $light-blue-grey;
                    text-transform: uppercase;
                    font-size: 12px;
                }

                a {
                    display: flex;
                    align-items: center;

                    &.navbar__link {
                        padding: 10px 20px;
                        cursor: pointer;
                        text-decoration: none;
                        color: $dark-blue-primary;
                        border-radius: 10px;

                        svg {
                            width: 17px;
                            margin-right: 10px;
                            height: auto;
                            color: $light-blue-grey;
                        }

                        &.active {
                            border-bottom: 3px solid $blue-accent;
                            background-color: $blue-accent;
                            color: $white;
                            transition: border-bottom .5s ease-in-out;

                            svg {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }

        .dashboard-content {
            flex: 4.5;
            min-height: 100vh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            >div {
                background-color: $white;
                border-radius: 20px;
                width: 100%;
                margin: 30px;
                padding: 20px;

                &.datePicker {
                    width: 25% !important;

                    form {
                        >div {
                            width: 100%;
                        }

                        button {
                            margin: 20px 0;
                        }
                    }
                }
            }

            h2 {
                border: 8px solid white;
                border-bottom-width: 8px;
                border-bottom-style: solid;
                border-bottom-color: white;
                border-bottom: 1px solid #FFFFFF;
                text-align: start;
                font-size: 28px;
                font-weight: 700;
                color: $black;
                background-color: #FFFFFF;
            }

            .holidaysLeft {
                width: auto;

                >div {
                    display: flex;

                    svg {
                        width: 20px;
                        height: auto;
                        margin-left: 15px;

                        &.rotate-360 {
                            animation: rotate 1s infinite;
                        }
                    }

                    @keyframes rotate {
                        0% {
                            transform: rotate(0deg)
                        }

                        100% {
                            transform: rotate(360deg)
                        }
                    }
                }

                p {
                    display: flex;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                    font-weight: 800;
                    margin: 20px auto;

                    svg {
                        width: 35px;
                        font-weight: 300;
                        border: 3px solid #575757;
                        border-radius: 10px;
                        margin-right: 10px;
                        padding: 2px 6px;
                        height: 42px;
                        stroke-width: 2px;
                    }
                }

            }

            .userIdDialog {
                position: fixed;
                top: 0;
                margin: 0 !important;
                right: 0;
                width: 25% !important;
                height: 100vh;
                box-shadow: -5px 5px 61px gray;
                z-index: 99;
                background-color: $blanc_cassee;

                P {
                    padding: 5px 10px;
                    background-color: $white;
                    border-radius: 20px;
                }

                .image-centred {
                    background-color: $white;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: 15px 0;
                    margin: 5px 0;

                    img {
                        width: 185px;
                        height: 185px;
                        object-fit: cover;
                        border-radius: 100%;
                        margin: 0 auto;
                    }
                }

                &.slideDetailUser {
                    animation: slide 0.5s infinite;
                }
            }

            @keyframes slide {
                0% {
                    right: -100%;
                }

                100% {
                    right: 0;
                }
            }

            .holidaysParent>div,
            .userParent>div {
                position: relative;
                max-height: 400px;
                overflow-y: scroll;

                .reload {
                    display: flex;
                    position: sticky;
                    z-index: 5;
                    top: 0;
                    background-color: $white;
                    border: 8px solid white;
                    border-bottom: 1px solid $white;

                    caption {
                        text-align: start;
                        font-size: 28px;
                        font-weight: 700;
                        color: $black;
                    }

                    svg {
                        width: 20px;
                        height: auto;
                        margin-left: 15px;

                        &.rotate-360 {
                            animation: rotate 1s infinite;
                        }
                    }

                    @keyframes rotate {
                        0% {
                            transform: rotate(0deg)
                        }

                        100% {
                            transform: rotate(360deg)
                        }
                    }
                }

                table {
                    border-spacing: 0px;
                    padding: 10px;
                    width: 100%;
                    position: sticky;
                    background-color: $white;

                    >caption {
                        border: 8px solid white;
                        border-bottom: 1px solid $white;
                        text-align: start;
                        font-size: 28px;
                        font-weight: 700;
                        color: $black;
                        position: sticky;
                        top: 0;
                        background-color: $white;

                    }



                    thead {
                        border: 8px solid white;
                        border-bottom: 1px solid $white;
                        position: sticky;
                        top: 47px;
                        background-color: $white;
                        z-index: 12;

                    }

                    tr {


                        th {
                            padding: 8px;
                            text-align: left;
                            font-weight: 400;
                            border-bottom: 2px solid $light-blue-grey;
                            color: $light-blue-grey;
                            position: relative;

                            &.orderBy {
                                &::after {
                                    content: "";
                                    border-style: solid;
                                    border-width: 0 2px 2px 0;
                                    border-color: $light-blue-grey;
                                    display: inline-block;
                                    padding: 3px;
                                    position: absolute;
                                    right: 100%;
                                    top: 50%;
                                    transform: translateY(-50%) rotate(-45deg);
                                }

                                &.DESC::after {
                                    content: "";
                                    border-style: solid;
                                    border-width: 0 2px 2px 0;
                                    border-color: $light-blue-grey;
                                    display: inline-block;
                                    padding: 3px;
                                    position: absolute;
                                    right: 100%;
                                    top: 50%;
                                    transform: translateY(-50%) rotate(-135deg);
                                }

                                &.ASC::after {
                                    content: "";
                                    border-style: solid;
                                    border-width: 0 2px 2px 0;
                                    border-color: $light-blue-grey;
                                    display: inline-block;
                                    padding: 3px;
                                    position: absolute;
                                    right: 100%;
                                    top: 50%;
                                    transform: translateY(-50%) rotate(45deg);
                                }

                                &:hover {
                                    position: relative;
                                    text-decoration: underline;
                                }
                            }

                        }

                        td {
                            padding: 8px;
                            border: 8px solid white;
                            border-bottom: 1px solid $grey;

                            &.Approved {
                                position: relative;
                                padding-left: 28px;

                                &::before {
                                    content: "";
                                    background-color: $green;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    position: absolute;
                                    left: 8px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }

                            &.Rejected {
                                position: relative;
                                padding-left: 28px;

                                &::before {
                                    content: "";
                                    background-color: $red;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    position: absolute;
                                    left: 8px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }

                            &.Pending {
                                position: relative;
                                padding-left: 28px;

                                &::before {
                                    content: "";
                                    background-color: $blue-accent;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    position: absolute;
                                    left: 8px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }

                }
            }

            form {
                padding: 10px;

                #submit {
                    width: 100%;
                    border: 1px solid;
                    background: linear-gradient(-10deg, $dark-blue-primary, $blue-accent); // Applique un gradient diagonal de haut en bas vers la droite
                    color: $white;
                    border-radius: 10px;
                    padding: 10px;

                    &:hover {
                        background: linear-gradient(10deg, $blue-accent, $dark-blue-primary); // Inverse le gradient au survol
                    }
                }

            }
        }
    }
}